html, body, #react-root, #react-root>main{
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow: hidden;

}

.h-100{
	height: 100%;	
}
.nav-itemlst{
	list-style-type: none;
    display:inline-block;
    margin-right: 5px;
    font-family: Hei;
    color: rgba(255,255,255,1);
    margin-right: 30px;
}
.bg{
	background-color: #B0CDD9 !important;
}
.jobListing{
	width: 95%;
	height: 12%;
	border: 1.5px solid #707070;
	border-bottom: none;
	border-left: none;

}
.box{
	width: 95%;
	height: 90%;
	overflow: scroll;
}
.navbar{
	background-color:  #B0CDD9 !important; 
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	overflow: hidden;

}

#navbar{
    font-size: 20px;
    text-align: right;
}

.title{
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Hei;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
	margin-left: 10px;
	list-style-type: none;
	margin-bottom: 10px;
}
.landing-page{
	height: 90%;
}
.resume{
	position: fixed;
	margin-top: 3%;
	margin-left: 40%;
}
.landing-header{
	width: 100%;
	height: 10%;
	position: fixed;
	text-align: center;
	font-family: Toppan Bunkyu Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	margin-top: 35%;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
.landing-header1{
	position: absolute;
	width: 100%;
	height: 10%;
	text-align: center;
	font-family: Toppan Bunkyu Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
	margin-top: 40%;
}
.landing-button{
	background-color: rgba(209,56,156,1);
	position: absolute;
	overflow: hidden;
	width: 10%;
    height: 6%;
	text-align: center;
	font-family: Hiragino Maru Gothic Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
	border-style: none;
    border-radius: 10	px;
    display: inline-block;
    margin-top: 43%;
    margin-left: 45%;
    border: none;
}
.w-40{
	width:  40%;
}
.w-50{
	width: 50%;
}
.box{
	margin-left: 10px;
}

.loginbox{
	background-color: #E1EBF0;
    border-style: solid;
    border-width: 1.5px;
    border-color: #707070;
    border-radius: 10px;
    padding: 70px;
    position: absolute;
    overflow: visible;
    width: 28%;
    height: 60%;
    left: 35%;
    top: 20%;
}
.bgbox{
	display: flex;
	background-color: white;
}
.bgleft{
	margin-left: 10%;
	padding-top: 3%;
}
.bgright{

}
.listing{
	font-family: Georgia; 
	font-color: #654C4C;
}

.listing-company{
	font-size: 30px;
}
.listing-position{
	font-size: 20px;
}
.listing-date{
	font-size: 15px;
}
.add-button{
	width: 95%;
}

.bar{
	width: 100%;
	margin-bottom: 10px;
}
.dropdown{
	width: 10%;
	display:inline-block;
}
.dropdown>.dropdown-menu {
	position: relative;
	left: auto !important;
	float: none !important;
	margin: auto;
	text-align: center;
	width: 2%; 
}

.detailsBox{
	width: 90%;
	height: 80%;
	margin: 5%;
	border: 1.5px solid #707070;
	overflow: hidden;
}



//form
form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}
